table
    tr
        th Hundred Block Location
        th Offense
        th Date
    each row in rows
        tr
            td= row.hundred_block_location
            td= row.description
            td= row.occurred_date
